node_modules/
.expo/
src/config/apiConfig.ts
/src/config/apiConfig.ts
src/config/
src/config
/src/config/
.vscode/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
